@charset "ISO-8859-1";
#head{
	 display:flex;
	 flex-basis:50%;
	 border-style:solid;
	 border-color:white;
	 background-color:MediumTurquoise ;
	 padding-right:80%
}
#reg{
      padding-left:300%
      }
#last{
	display:flex;
	justify-content:center;
}      

#banner{
	display:flex;
	justify-content:center;	
}
#rental{
	padding-left:50%;
	color:maroon;
	padding-down:30%	
}
